<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to access your camera</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to access your photo</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>UIAppFonts</key>
	<array>
		<string>PlayfairDisplay-Black.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
		<string>PlayfairDisplay-ExtraBold.ttf</string>
		<string>PlayfairDisplay-Medium.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PlayfairDisplay-SemiBold.ttf</string>
		<string>PlayfairDisplay-SemiBoldItalic.ttf</string>
		<string>BellotaText-Bold.ttf</string>
		<string>BellotaText-BoldItalic.ttf</string>
		<string>BellotaText-Italic.ttf</string>
		<string>BellotaText-Light.ttf</string>
		<string>BellotaText-LightItalic.ttf</string>
		<string>BellotaText-Regular.ttf</string>
		<string>Gentleman-Black.ttf</string>
		<string>Gentleman-Bold.ttf</string>
		<string>Gentleman-Book.ttf</string>
		<string>Gentleman-ExtraLight.ttf</string>
		<string>Gentleman-HairLine.ttf</string>
		<string>Gentleman-Heavy.ttf</string>
		<string>Gentleman-Light.ttf</string>
		<string>Gentleman-Medium.ttf</string>
		<string>Gentleman-Regular.ttf</string>
		<string>Gentleman-Thin.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to access your photo</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to access your location to sand post</string>
</dict>
</plist>
